[submodule "account"]
	path = modules/account
	url = git@github.com:coopengo/account.git
[submodule "account_dunning"]
	path = modules/account_dunning
	url = git@github.com:coopengo/account_dunning.git
[submodule "account_dunning_letter"]
	path = modules/account_dunning_letter
	url = git@github.com:coopengo/account_dunning_letter.git
[submodule "account_invoice"]
	path = modules/account_invoice
	url = git@github.com:coopengo/account_invoice.git
[submodule "account_payment"]
	path = modules/account_payment
	url = git@github.com:coopengo/account_payment.git
[submodule "account_payment_clearing"]
	path = modules/account_payment_clearing
	url = git@github.com:coopengo/account_payment_clearing.git
[submodule "account_payment_sepa"]
	path = modules/account_payment_sepa
	url = git@github.com:coopengo/account_payment_sepa.git
[submodule "account_payment_sepa_cfonb"]
	path = modules/account_payment_sepa_cfonb
	url = git@github.com:coopengo/account_payment_sepa_cfonb.git
[submodule "account_product"]
	path = modules/account_product
	url = git@github.com:coopengo/account_product.git
[submodule "account_statement"]
	path = modules/account_statement
	url = git@github.com:coopengo/account_statement.git
[submodule "bank"]
	path = modules/bank
	url = git@github.com:coopengo/bank.git
[submodule "commission"]
	path = modules/commission
	url = git@github.com:coopengo/commission.git
[submodule "commission_waiting"]
	path = modules/commission_waiting
	url = git@github.com:coopengo/commission_waiting.git
[submodule "company"]
	path = modules/company
	url = git@github.com:coopengo/company.git
[submodule "country"]
	path = modules/country
	url = git@github.com:coopengo/country.git
[submodule "currency"]
	path = modules/currency
	url = git@github.com:coopengo/currency.git
[submodule "ldap_authentication"]
	path = modules/ldap_authentication
	url = git@github.com:coopengo/ldap_authentication.git
[submodule "party"]
	path = modules/party
	url = git@github.com:coopengo/party.git
[submodule "party_relationship"]
	path = modules/party_relationship
	url = git@github.com:coopengo/party_relationship.git
[submodule "party_siret"]
	path = modules/party_siret
	url = git@github.com:coopengo/party_siret.git
[submodule "product"]
	path = modules/product
	url = git@github.com:coopengo/product.git
[submodule "debug"]
	path = modules/debug
	url = git@github.com:coopengo/trytond-debug.git
[submodule "note_authorizations"]
	path = modules/note_authorizations
	url = git@github.com:coopengo/trytond-note-authorizations.git
[submodule "bench"]
	path = modules/bench
	url = git@github.com:coopengo/trytond-bench.git
[submodule "cryptolog"]
	path = modules/cryptolog
	url = git@github.com:coopengo/trytond-cryptolog.git
